<a href="https://colab.research.google.com/github/weasel-codes/anomaly-detection-iot/blob/main/anomaly_detection_preprocess2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import os
import pandas as pd
import numpy as np
import glob

In [4]:
base_url = '/content/drive/MyDrive/ML/anomaly/'
data_file = 'dataset.csv'

In [5]:
df = pd.read_csv(base_url+data_file)
if df.shape[1] > 8 :
  df = df.drop(columns=df.columns[0])

df

         frame.number  frame.time_relative  ...            frame.protocols  label
0               88211            70.949809  ...       eth:ethertype:ip:tcp      0
1               58708           132.842376  ...       eth:ethertype:ip:tcp      0
2              131894           296.013317  ...       eth:ethertype:ip:tcp      0
3              252744            49.393385  ...  eth:ethertype:ip:udp:data      1
4               35069            66.823389  ...       eth:ethertype:ip:tcp      0
...               ...                  ...  ...                        ...    ...
2722818         91235           152.817776  ...  eth:ethertype:ip:udp:data      1
2722819        137817            59.616331  ...  eth:ethertype:ip:udp:data      1
2722820         18178            59.422203  ...       eth:ethertype:ip:tcp      0
2722821         77956           285.853238  ...   eth:ethertype:ip:tcp:ssl      0
2722822        393991            75.815770  ...  eth:ethertype:ip:udp:data      1

[2722823 rows x 8 columns]

In [6]:
df.isna().sum()

frame.number                 0
frame.time_relative          0
frame.len                    0
data.len               1441202
ip.src                   12764
ip.dst                   12764
frame.protocols              0
label                        0
dtype: int64

In [7]:
df['data.len'] = df['data.len'].fillna(0)
df['ip.src'] = df['ip.src'].fillna(method='ffill')
df['ip.dst'] = df['ip.dst'].fillna(method='ffill')
df.isna().sum()

frame.number           0
frame.time_relative    0
frame.len              0
data.len               0
ip.src                 0
ip.dst                 0
frame.protocols        0
label                  0
dtype: int64

In [8]:
df

         frame.number  frame.time_relative  ...            frame.protocols  label
0               88211            70.949809  ...       eth:ethertype:ip:tcp      0
1               58708           132.842376  ...       eth:ethertype:ip:tcp      0
2              131894           296.013317  ...       eth:ethertype:ip:tcp      0
3              252744            49.393385  ...  eth:ethertype:ip:udp:data      1
4               35069            66.823389  ...       eth:ethertype:ip:tcp      0
...               ...                  ...  ...                        ...    ...
2722818         91235           152.817776  ...  eth:ethertype:ip:udp:data      1
2722819        137817            59.616331  ...  eth:ethertype:ip:udp:data      1
2722820         18178            59.422203  ...       eth:ethertype:ip:tcp      0
2722821         77956           285.853238  ...   eth:ethertype:ip:tcp:ssl      0
2722822        393991            75.815770  ...  eth:ethertype:ip:udp:data      1

[2722823 rows x 8 columns]

In [ ]:
df = pd.get_dummies(df, columns=['ip.src', 'ip.dst'], prefix=["src", "dst"]).head()

In [80]:
df

         frame.number  frame.time_relative  ...            frame.protocols  label
0               88211            70.949809  ...       eth:ethertype:ip:tcp      0
1               58708           132.842376  ...       eth:ethertype:ip:tcp      0
2              131894           296.013317  ...       eth:ethertype:ip:tcp      0
3              252744            49.393385  ...  eth:ethertype:ip:udp:data      1
4               35069            66.823389  ...       eth:ethertype:ip:tcp      0
...               ...                  ...  ...                        ...    ...
2722818         91235           152.817776  ...  eth:ethertype:ip:udp:data      1
2722819        137817            59.616331  ...  eth:ethertype:ip:udp:data      1
2722820         18178            59.422203  ...       eth:ethertype:ip:tcp      0
2722821         77956           285.853238  ...   eth:ethertype:ip:tcp:ssl      0
2722822        393991            75.815770  ...  eth:ethertype:ip:udp:data      1

[2722823 rows x 8 columns]

In [69]:
# Create Entites using indexes of csv
X = df.iloc[:, :-1].values #All the rows + all the columns except last
Y = df.iloc[:,-1] #Dependent vairables is last column

In [70]:
X.shape

(2722823, 7)

In [71]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [72]:
# 'encoder' specifies that encoding is needed to be done using OneHotEncoder
# remainder specifies that only selected column needs to be encoded and remainder columns 
# needs to be added to appended to the result
ct = ColumnTransformer(transformers=[('encoder', (),[4])],remainder='passthrough')

# Now we need to attach this functionality to matrix
X = np.array(ct.fit_transform(X)) # To create a matrix out of result
X.shape

TypeError: ignored

In [ ]:
X[:,5]

In [ ]:
df['frame.protocols'].unique()

In [ ]:
for i in range(df.shape[0]):
  var = df['frame.protocols'][i].split(':')
  print(var)
  temp = ""
  if len(var) == 1 :
    temp = ""
  elif len(var) == 2 :
    temp = temp + var[0] + ":" + var[1]
  elif len(var) == 3 :
    temp = temp + var[0] + ":" + var[1] + ":" + var[2]
  elif len(var) == 4 :
    temp = temp + var[0] + ":" + var[1] + ":" + var[2] + ":" + var[3]

  df['frame.protocols'][i] = temp  
  print(df['frame.protocols'][i])
  break